.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 500px;
  width: auto;
}

.image{
	border-radius: 5px;
	width:100%;
    height:100%;
    object-fit:cover;
}

.imageslot{
	height: 300px;
	width: 383px;
}

.firstline{
	display: flex;
	justify-content: space-between;
	height: 40px;
}

